@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chivo Mono", monospace;
  background-color: #000 !important;
}
.white_text {
  color: #fff !important;
}
.text_center_center {
  text-align: center;
}
a {
  text-decoration: none !important;
}

i:hover,
a:hover {
  cursor: pointer !important;
}

/* ĐÂY LÀ PHÀN HIỆU ỨNG HOVER BUTTON NÀ */
.buymore {
  justify-content: start;
}
.buymore li {
  width: 13rem;
  font-size: 12px;
  height: 2.3rem;
}
.buymore ul li:hover span {
  transform: translateY(0) scale(5.2);
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 50px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li a {
  color: var(--c);
}

nav ul li {
  --c: goldenrod;
  color: var(--c);
  font-size: 16px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 18em;
  height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

nav ul li span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
nav ul .btnOrder:hover a,
nav ul li:hover a,
nav ul li:hover i {
  color: black !important;
}
.swal2-popup {
  display: none;
  position: relative;
  box-sizing: border-box;
  grid-template-columns: minmax(0, 100%);
  width: 32em;
  max-width: 100%;
  padding: 0 0 1.25em;
  border: none;
  border-radius: 5px;
  background: #c4c4c4;
  color: #545454;
  font-family: inherit;
  font-size: 1rem;
}
.fontText {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 49px !important;
  font-weight: 700;
  color: #f5f5f5 !important;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
.swal2-title {
  position: relative;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-transform: uppercase;
  font-family: verdana;
  font-size: 49px !important;
  font-weight: 700;
  color: #f5f5f5 !important;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
nav ul li:hover a,
nav ul li:hover i {
  color: black;
}

nav ul li:hover span {
  transform: translateY(0) scale(3.1);
}

nav ul li span:nth-child(1) {
  --n: 1;
}

nav ul li span:nth-child(2) {
  --n: 2;
}

nav ul li span:nth-child(3) {
  --n: 3;
}

nav ul li span:nth-child(4) {
  --n: 4;
}

/* ======================================================== */

#container {
  background-color: #000;
}

.heading .d-flex ul {
  position: absolute;
  z-index: 999;
  color: #fff;
  background-color: #272727;
  list-style: none;
  display: none;
}

.d-flex #nav-login:hover ul {
  display: block;
  margin: 0;
  padding: 0;
  text-align: center;
}

.d-flex .dropdown li:hover {
  background-color: #000;
}

.d-flex .dropdown li {
  width: 8rem;
  padding: 5px;
}

.heading .d-flex span {
  background: #000;
  color: #fff;
  padding: 0 10px;
  border-radius: 30px 0px 0px 30px;
  width: 100%;
}

.heading .d-flex .fa-user-group {
  padding-right: 10px;
}

.heading .d-flex #nav-login {
  width: 100%;
  border-radius: 0px 30px 30px 0px;

  background-color: #000;
}

#nav-login ul li {
  padding: 10px 30px;
}

#nav-login ul li:hover {
  border: 1px solid #eaa951;
}

#nav-login ul li:hover a {
  color: #f9af4b !important;
}

#nav-login ul {
  border-radius: 10px;
}

.heading .d-flex a {
  width: 100%;
  text-decoration: none;
  color: #fff !important;
}

#FM {
  width: 20rem;
  margin: 100px auto !important;
  display: flex;
}

#patek {
  width: 30rem;
  margin: 0px auto !important;
  display: flex;
}

.heading .margin-left span {
  font-size: 12px;
  color: #fff;
}

.navbar-brand {
  font-size: 16px !important;
}

a.navbar-brand {
  color: #f5edc7;
  margin-right: 15px;
  font-weight: 600;
  height: 22px;
  font-family: "Vollkorn", serif;
  background: #010000;
  padding: 7px 20px;
}

.me-2 {
  height: 23px;
  background-color: #272727 !important;
  border-radius: 30px 0 0 30px !important;
  border: none !important;
}

.fa-phone-volume:before,
.fa-volume-control-phone:before {
  font-size: 13px;
  content: "\f2a0";
  padding: 0 5px;
}

.navbar > .container,
.navbar > .container-fluid,
.navbar > .container-lg,
.navbar > .container-md,
.navbar > .container-sm,
.navbar > .container-xl,
.navbar > .container-xxl {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-around !important;
}
.navbar_admin li {
  margin: 30px 0;
  list-style: none;
}
.navbar_admin a:hover {
  color: #fff !important;
}
.navbar_admin {
  text-align: center;
}
.navbar_admin a {
  font-size: 21px;
  color: #f9af4b !important;
}
.navbar {
  margin: 0;
  padding: 3px 0 !important;
  background-color: #272727 !important;
}

/* CHAPER NAV MAIN */
.nav_main {
  background-color: #000;
  display: flex;
  border-bottom: 2px solid #fdb866;
  justify-content: center;
  align-items: center;
}

.nav_main ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_main li {
  display: inline-block;
  margin-right: 10px;
}

.nav_main .fa-house-chimney,
.gold,
.fa-cart-shopping {
  color: #f9af4b !important;
}

.fa-cart-shopping {
  font-size: x-large;
}

#amount_carts {
    background-color: #233a95;
    color: #fff;
    position: absolute;
    top: -1px;
    right: 8px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.nav_main a {
  color: #c1c1c1;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

.nav_main_img {
  padding: 0 !important;
  margin: 10px;
}

.nav_main_logo {
  width: 180px;
  height: 150px;
}

.nav_main img {
  width: 200px;
  margin: 0 50px;
  object-fit: cover;
}

.nav_main .dropdown {
  position: absolute;
  top: 100;
  left: 40;
  z-index: 1;
  display: none;
  list-style: none;
  border-top: none;
  background: #272727;
}

.nav_main .dropdown li {
  display: block;
  padding: 10px;
}

.nav_main .dropdown li:hover {
  transform: scale(1.5);
  transition: transform 0.5s;
  cursor: pointer;
}

.nav_main li:hover .dropdown {
  display: inline-block;
  cursor: pointer;
}

.nav_main .dropdown .ux-menu-icon {
  width: 100px;
}

/* ĐÂY LÀ PHẦN MODAL  */
.btn_modal {
  border-radius: 20px;
  background: url(https://euluxury.vn/css/images/bgfade.jpg);
  background-position: bottom;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  margin: 10px 0;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.btn_modal:active {
  transform: scale(0.95);
}

.btn_modal:focus {
  outline: none;
}

.btn_modal .ghost {
  background-color: transparent;
  border-color: #ffffff;
}

.form_modal {
  background-color: #3d3d3d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
  color: #fff;
}

.form_modal input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  border-radius: 25px;
}
.ModalHome {
  display: flex;
  margin-top: 66px;
  justify-content: center;
  position: relative;
}
.container_modal {
  background-color: #3d3d3d;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container_modal.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container_modal.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container_modal.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background-image: url(/img/Girl.jpg);
  background-position: center !important;
  background-repeat: space;
  background-size: contain;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container_modal.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container_modal.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container_modal.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.social-container {
  margin: 20px 0;
}

.social-container i {
  color: #fff;
}

.social-container a {
  border: 1px solid #dddddd;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  height: 40px;
  width: 40px;
}

#myModal {
  display: block;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  margin: auto;
}

#myModal a {
  background: none;
  color: #fff !important;
}

#myModal .social {
  color: #000 !important;
  background: none;
  padding: 25px;
  border-radius: 50%;
  margin: 0;
  width: 0;
  height: 0;
}

.modal-content {
  justify-content: center;
  margin: 100px auto 0 auto !important;
  background: none !important;
  width: 50% !important;
}

.close {
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 1102px;

  z-index: 999;
  color: #000 !important;
  background: none !important;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ĐÂY LÀ PHẦN GIỎ HÀNG NÈ */
.cart-wrapper {
  position: relative;
}

#container_cart {
  color: #fff;
  background-color: #272727;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  right: -33px;
  top: 40px;
  pointer-events: auto !important;
  border-radius: 10px;
  width: 20rem;
  z-index: 2;
  height: 10rem;
}

#alert_cart {
  text-align: center;
}
.amount_cart {
  position: relative;
}
#carts {
  border-radius: 10px;
  width: 23rem;
  background-color: #272727;
  border: 3px solid #3d3d3d;
}

.cart-wrapper:hover #container_cart {
  display: block;
}

#cart #cart_child {
  gap: 16px;
  display: flex;
  border-radius: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-bottom: 1px solid #3d3d3d;
  padding: 7px;
  height: 8rem;
}

.nav_main #cart .text_cart {
  width: 12rem;
}
p#name_cart {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.nav_main #cart img {
  width: 5rem;
  padding: 0;
  margin: 0;
}
.total_price_infoClient {
  border-top: 1px solid #3d3d3d;
  display: flex;
  justify-content: space-between;
}
#total_price {
  font-size: large;
  font-weight: 700;
}
.nav_main #container_cart #total_price_cart {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.nav_main #container_cart #btn_cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav_main #container_cart #btn_cart a {
  background-color: #000;
  color: #fdb866;
  border: none;
  padding: 10px;
  border: 1px solid #f9af4b;
}

/* =================================== */
/* CHAPER SLIDER  */
.silder img {
  width: 100%;
}

.h1,
h1 {
  color: #fff !important;
  text-align: center;
  font-size: 30px !important;
  font-family: "Vollkorn", serif;
  text-transform: uppercase;
}

.slider_nav {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 50px 0;
}

.slider_nav div {
  background-color: #cacaca;
}

.slider_nav img {
  width: 245px;
  height: 122px;
  padding: 10px 20px;
  margin: 0px;
  transition: 0.5s;
}

.slider_nav img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.content {
  margin: 45px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  /* column-gap: 40px; */
  padding: 0;
}

/* Những sản phẩm của WEB */
.product {
  padding: 0;
  margin: 0;
  background-color: #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 27.7rem;
  text-align: center;
  width: 20rem !important;
  border: 1px solid #3d3d3d;
}

.product a {
  color: #c1c1c1 !important;
  font-size: 18px !important;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  padding: 0;
  margin: 0;
}

.product span {
  font-weight: 700;
  color: #f9af4b;
  font-size: 19px;
  padding: 0;
  margin: 0;
}

.product p {
  color: #fff;
  padding: 0;
  margin: 0;
}

.product img {
  width: 100% !important;

  padding: 0;
  margin: 0;
}

.product:hover a img,
.product:hover p img {
  transition: 0.5s;
  transform: scale(1.2);
  cursor: pointer;
}

.product:hover div {
  background: #5d4d30;
  cursor: pointer;
}

.product .fix {
  padding: 15px;
}

.product h2 {
  font-size: 1.2em;
  margin: 10px 0;
}

/* PHẦN CONTENT REVIEW SẢN PHẨM */
.content_review h5 {
  color: #fff;
  text-align: center !important;
  /* font-size: 22px; */
  line-height: 28px;
  font-weight: 400;
  margin: 20px auto !important;
  width: 60%;
}

.video-review {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

/* ĐÂY LÀ PHẦN TIN TỨC SẢN PHẨM */
.footer-news .product {
  text-align: left;
}

.footer-news .product a {
  padding: 0;
  margin: 0;
  color: #eaa951 !important;
}

.footer-news .product img {
  object-fit: cover;
  height: 15rem;
}

.footer-news .product div > p {
  border-top: 1px solid #fff;
  margin-top: 10px;
}

.footer-news .product {
  height: 100%;
}

.footer-news {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.footer-news .product div {
  padding: 16px;
}

/* ĐÂY LÀ PHẦN CUỐI CÙNG CỦA WEB FOOTER */
.footer_2 {
  border-top: 1px solid #f9af4b;
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #fff;
  margin-top: 100px;
  flex-wrap: wrap;
}

.footer_2 h2 {
  color: #eaa951 !important;
}

.footer_2 div img {
  width: 200px;
}

.footer_2 div {
  margin-top: 20px;
}

.footer_2 .product {
  border: none;
  text-align: left;
}

.toggleMenu {
  display: none;
}

#login_mobile {
  display: none;
}

/* ĐÂY LÀ PHẦN responsive Table */
@media screen and (max-width: 900px) {
  #nav-login,
  .form-control,
  .footer_2 div:nth-child(3),
  .footer_2 div:nth-child(4),
  .footer_2 div:nth-child(5) {
    display: none !important;
  }

  .container-fluid .margin-left span {
    font-size: 13px !important;
  }

  .phonenumber {
    font-size: large;
    padding: 0;
    margin: 0;
  }

  .margin-left a,
  span {
    margin: 0;
  }

  #login_mobile {
    display: block;
    color: #fff;
    padding: 0 10px;
  }

  .modal-content {
    width: 100% !important;
    margin: 200px 73px 73px 79px !important;
  }

  #myModal {
    position: fixed;
    top: 0px;
    left: -70px;
    height: 128% !important;
    width: 120% !important;
    background-color: #ffffff4d;
    backdrop-filter: blur(10px);
    margin: 0;
  }

  .container-fluid {
    padding: 0 !important;
  }

  .navbar > .container,
  .navbar > .container-fluid,
  .navbar > .container-lg,
  .navbar > .container-md,
  .navbar > .container-sm,
  .navbar > .container-xl,
  .navbar > .container-xxl {
    justify-content: space-between !important;
  }

  .nav_main {
    justify-content: space-around;
  }

  .nav_main_left {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #ffffff4d;
    backdrop-filter: blur(10px);
    width: 80%;
    margin: 0;
    transition: 0.5s;
    transform: translate(100%);
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 999;
  }

  .nav_main_left.active {
    transform: translate(0);
  }

  .nav_main_left li {
    padding: 20px;
  }

  .nav_main_left li a {
    color: #000;
    font-size: large;
    font-weight: 700;
  }

  .toggleMenu {
    text-align: right;
    display: block;
    transition: 0.5s;
    position: relative !important;
  }

  #ul_dropdown .none {
    display: none;
  }

  .show {
    display: block !important;
    top: 33px;
    right: 9px;
    padding: 10px 10px;
  }
  .show li {
    padding: 10px 0;
  }
  #container_cart {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #ffffff4d;
    backdrop-filter: blur(10px);
    width: 80%;
    margin: 0;
    transition: 0.5s;
    transform: translate(-100%);
  }

  #container_cart.active {
    transform: translate(0);
  }

  #carts {
    width: 100%;
    background-color: #ffffff4d;
    color: #000;
  }

  #number_cart {
    top: -12px;
    right: -5px;
    position: absolute;
  }

  #none_number_cart {
    display: none;
  }

  i.fa-solid.fa-bars.gold {
    font-size: 25px !important;
  }

  .margin-left span {
    font-size: 10px !important;
  }

  .hide_phone {
    display: block !important;
  }

  .fa-bars {
    font-size: 20px !important;
  }

  .navbar-brand {
    font-size: 15px !important;
  }

  .phonenumber {
    border-radius: 25px;
    padding: 0 10px;
    margin-right: 10px;
  }

  .product {
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
  }

  .content {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .product a {
    padding: 5px 0 0 0;
  }

  .content_review h5 {
    width: 100%;
  }

  /*  ĐÂY LÀ PHẦN FOOTER CUỐI */
  .footer_2 .product {
    height: 24rem;
    text-align: center;
  }

  .footer_2 div:nth-child(2) {
    width: 100%;
    height: 100%;
    margin: 0 10px 10px 10px;
  }

  .footer_2 div:nth-child(2) h2 {
    margin: 0;
  }

  .footer_2 {
    gap: 0;
    margin: 20px 0 0 0;
  }

  .footer_2 .product i {
    padding: 0 5px;
    font-size: 25px;
  }

  /* ĐÂY LÀ PHẦN RESPONSIZE CỦA PHẦN TIN TỨC */
  .footer-news {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: auto auto;
    column-gap: 50px;
    row-gap: 50px;
  }

  .footer-news .product {
    width: 20rem !important;

    margin: 0 !important;
  }

  .footer-news .product div {
    display: inline;
  }

  .footer-news .product a {
    display: inline;
  }

  .footer-news .product div a:nth-child(2) {
    display: none;
  }

  .footer-news .product div p {
    display: inline;
    border-top: none;
  }

  .footer-news .product img {
    width: 5rem;
    height: 5rem;
  }

  .footer-news:hover a img,
  .footer-news:hover p img {
    transition: none;
    transform: none;
    cursor: pointer;
  }

  .footer-news:hover div {
    background: none;
    cursor: pointer;
  }
}

/* Phần phone responsive */
@media screen and (max-width: 500px) {
  .container-fluid .margin-left span {
    font-size: 8px !important;
  }

  .margin-left span {
    display: none;
  }

  .phonenumber {
    font-size: small;
    padding: 0;
    margin: 0;
  }

  .modal-content {
    width: 100% !important;
    margin: 70px 20px 60px 35px !important;
  }

  .close {
    top: 0px;
    left: 380px;
  }

  #myModal {
    position: fixed;
    top: 0px;
    left: -70px;
    height: 128% !important;
    width: 120% !important;

    margin: 0;
  }

  .btn_modal {
    padding: 10px;
  }

  .overlay {
    background-size: cover;
  }

  .form_modal input {
    margin: 5px 0;
  }

  #myModal .social {
    background: none;
    padding: 15px;
    border-radius: 50%;
    margin: 0px;
    width: 0px;
    height: 0px;
    color: rgb(0, 0, 0) !important;
  }

  .form_modal b {
    font-size: small;
  }

  .nav_main li:hover .dropdown {
    display: none;
    cursor: pointer;
  }

  .footer-news:hover a img,
  .footer-news:hover p img {
    transition: none;
    transform: none;
    cursor: pointer;
  }

  .footer-news:hover div {
    background: none;
    cursor: pointer;
  }

  .footer-news {
    display: grid;
    margin: 0px;
    padding: 0;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 10px;
  }

  .footer-news .product {
    width: 12rem !important;
  }

  .footer_2 {
    gap: 0;
    margin: 20px 0 30px 0;
  }
}
/* ============================================================================================ */
/* CSS PRODUCT-02 PAGE */

.content_product2 {
  display: flex;
  justify-content: center;
  color: #fff;
  flex-wrap: wrap;
}

.content_product2 .content_text span {
  color: #f9af4b !important;
  font-size: 26px;
  font-weight: 700;
}

.content_product2 .content_text sup {
  font-size: 15px;
}

.content_product2 .content_text p:nth-child(2) {
  border-bottom: 1px solid #3d3d3d;
}

.content_product2 img {
  width: 100%;
  height: 30rem;
  object-fit: cover;
}

.content_text {
  width: 40rem;
}

.content_text a {
  text-decoration: none;
  color: #fff;
}

.content_text button {
  background: url(https://euluxury.vn/css/images/bgfade.jpg);
  background-position: bottom;
  padding: 10px;
  border-radius: 30px;
}

.sub_nav1 {
  width: 18rem;
}
.sub_nav1 i {
  padding-right: 10px;
}
.content_product2 .sub_nav {
  border: 1px solid #3d3d3d;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
}

/* .product {
  background-color: #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  height: 28.5rem !important;
  text-align: center;
  width: 18rem;
  border: 1px solid #3d3d3d;
} */
.nav_product2 p:first-child {
  margin-left: 100px;
}

.nav_product2 a {
  text-decoration: none;
  color: #fff;
}
.nav_product2 {
  display: block;
}

/* ĐÂY LÀ PHẦN REVIEW SẢN PHẨM NÈ  */
.review_product {
  display: flex;
  text-align: center;
  color: #fff;
  justify-content: center;
  margin-top: 100px;
  gap: 30px;
  flex-wrap: wrap;
}

.review_product img {
  width: 100%;
  clear: both;
  display: block;
  margin: 0 auto;
}

.review_product div:first-child {
  width: 50rem;
  text-align: left;
}

.review_product div:last-child {
  width: 30rem;
  height: 40.5rem;
  padding: 20px;
  text-align: left;
  border: 1px solid #3d3d3d;
}

.review_product h3 {
  border-bottom: 1px solid #3d3d3d;
  padding: 10px 0;
}

.review_product div:last-child p {
  padding-bottom: 10px;
  border-bottom: 1px solid #3d3d3d;
}

/* ĐÂY LÀ PHẦN CÁC SẢN PHẨM KHÁC NÈ */
.product_more_head {
  text-align: center;
  color: #fff;
  margin: 50px 0;
}

/* .product_more_head img {
  width: 30rem;
  object-fit: cover;
} */
.product_more {
}
.info_product {
  margin-top: 30.5px;
  padding-bottom: 10px;
}
/* ======================================================================== */
/* Confirm 03 Page */

.list_cart {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: nowrap;
  text-align: center;
}

.list_cart img {
  width: 5rem;
}

.list_cart tr:first-child {
  border-bottom: 1px solid #fff;
  margin: 20px 0;
}

.list_cart div:last-child {
  border-left: 1px solid #fff;
  padding-left: 20px;
}

.list_cart table {
  width: 103%;
}

.list_cart .name_procduct {
  width: 50%;
  text-align: left;
  font-weight: 400;
}

.list_cart .pay {
  display: flex;
  flex-direction: column;

  width: 20rem;
}

.list_cart .pay div {
  display: inline;
}

.list_cart .left {
  float: left;
}

.list_cart .right {
  float: right;
  font-weight: 600;
}

.list_cart .btn_back {
  border: 2px solid #eaa951;
  float: left;
  color: #eaa951;
  background-color: #000;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}

.list_cart .btn_back a {
  color: #eaa951;
  text-decoration: none;
}

.list_cart .product_list {
  border-bottom: 1px solid #fff !important;
}

.list_cart .product_list td {
  padding: 10px;
}

/* ĐÂY LÀ NÚT THANH TOÁN NÈ  */
.pay #clickpay {
  border: none;

  padding: 5px;
  background: url(https://euluxury.vn/css/images/bgfade.jpg);
  background-position: bottom;
  border-radius: 25px;
  border: 1px solid #fdb866 !important;
}

.pay #clickpay a {
  color: #fff;
}

.pay .coupon {
  text-align: left;
  margin: 0;
}

.pay #input_coupon {
  padding: 5px;
  margin: 10px 0;
}

.pay .comfirm_coupon {
  padding: 3px;
}
.cart_heading {
  text-align: center;
  margin-top: 20px;
}
/* ======================================================================== */
/* CSS INFOCLIENT  */
/* ĐÂY LÀ CHỖ CONTENT Ở GIỮA NÈ */
.content_infoClient #form {
  display: flex;
  color: #fff;
  justify-content: center;
  gap: 30px;
}
.content_infoClient #form div:first-child {
  border-top: 2px solid #fff;
}
#bank {
  width: 1rem !important;
  margin: 0;
  height: 15px;
}
form#form h5 {
  padding: 10px 0;
}
.content_infoClient #form input,
textarea {
  width: 100%;
  padding: 5px;
}

.text_heading {
  color: #fff;
  margin-left: 8.5rem;
  margin-top: 20px;
}
.text_heading a {
  color: #eaa951;
}
.content_infoClient div:first-child {
  width: 50%;
}
td.text_table_infoClient {
  font-size: 15px;
  padding: 15px;
}
.content_infoClient div:last-child {
  width: 35%;
  border: 1px solid #fdb866;
  padding: 20px;
}
.content_infoClient .table {
  color: #fff;
}
.content_infoClient .table .text_table {
  font-size: 14px;
}

.content_infoClient .btn_order {
  background: url(https://euluxury.vn/css/images/bgfade.jpg);
  background-position: bottom;
  border-radius: 25px;
  border: 1px solid #fdb866 !important;
  padding: 10px;
  border: none;
  color: #fff;
  width: 40%;
  margin: 20px 0;
}
tfoot {
  border-top: 1px solid #3d3d3d !important;
}
thead {
  border-bottom: 1px solid #3d3d3d !important;
}
tbody,
td,
th,
tr {
  border-color: inherit;
  border-style: none !important;
  border-width: 0;
}
.offcanvas {
  backdrop-filter: blur(3px) !important;
  background-color: #ffffff4d !important  ;
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  visibility: hidden;
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}
